@import "../colors.scss";

.subcategory {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  line-height: 18px;
}

.count {
  text-align: right;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.buttonLabel {
  color: $red;
  margin-right: 10px;
}

.storeName {
  font-weight: bold;
  color: $link;
}