[submodule "packages/moov-pwa-components"]
	path = packages/moov-pwa-components
	url = git@github.com:moovweb/moov-pwa-components.git
[submodule "packages/moov-react-dev-server"]
	path = packages/moov-react-dev-server
	url = git@github.com:moovweb/moov-react-dev-server.git
[submodule "packages/moov_router"]
	path = packages/moov_router
	url = git@github.com:moovweb/moov_router.git
