@import "../colors.scss";
@import "../header/Header.module.scss";

.drawer {
  background-color: $primary !important;
  display: flex;
  flex-direction: column;
}

.back {
  margin-right: 0 !important;
  color: white !important;
}

.headerText {
  padding-left: 5px !important;
  font-weight: bold;
  color: white;
}

.menuWrap {
  width: 250px;
  overflow-y: auto;
  flex: 1;
}

.hbox {
  display: flex;
  flex-direction: row;
  transition: all ease-out 0.2s;
}

.listItem {
  color: white;
}