.root {
  &::before {
    display: none;
  }
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  
  & > *:first-child {
    padding: 0 !important;
    min-height: 0 !important;
    & > *:first-child {
      margin: 12px 0 !important;
    }
  }
}

.largeTitle {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.details {
  padding-left: 0 !important;
  padding-right: 0 !important;
}