@import "colors.scss";

:global(body) {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: $text;
  font-size: 14px;
}

:global(h1) {
  font-size: 14px;
  font-weight: bold;
  background: $shade;
  color: $text;
  padding: 10px;
  margin-top: 0;
  border-bottom: 1px solid #CCC;
  min-height: 14px;
}

:global(a) {
  text-decoration: none;
  color: $link;
}

:global(.field) {
  label {
    font-weight: bold;
    color: black;
  }
  .value {
    color: #666;
  }
}

@keyframes placeHolderShimmer {
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

$shimmer: #eee;

:global(.animated-background) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, $shimmer 8%, darken($shimmer, 3%) 18%, $shimmer 33%);
  background-size: 800px 104px;
}

.app {
  margin-top: 56px;
}