@import "../colors.scss";

.name {
  color: $link !important;
  font-weight: bold !important;
}

.input {
  width: 100% !important;
}

.listItem {
  padding-left: 0 !important;
  padding-right: 0 !important;

  & > div:first-child {
    padding-right: 60px;
  }
}

.empty {
  color: #999;
  margin-top: 20px !important;
}

.info {
  right: -10px !important
}

.scroll {
  height: 400px; 
  width: 250px;
  overflow-y: auto;
}