@import "../colors.scss";

.header {
  background-color: $primary !important;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: calc(-115px/2);
  background-color: #E21D3B;
  height: 100%;

  & img {
    height: 56px;
  }
}

.button {
  color: $primaryText !important;
}

.buttonLabel {
  position: relative;
  top: -5px;
}

.buttonText {
  text-transform: uppercase;
  font-size: 8px;
  color: $primaryText;
  position: absolute;
  top: 24px;
}